<!DOCTYPE HTML>
<html>
	<head>
		<title>Registration</title>
	</head>
	<body>
		<form method="POST">
			<input required="true" placeholder="Индентифицирующий код" name="code" />
			<br>
			<input required="true" placeholder="Логин" name="login" />
			<br>
			<input required="true" type="password" placeholder="Пароль" name="password" />
			<br>
			<input required="true" placeholder="Статус" name="status" />
			<br>
			<button type="submit">Registration</button>
		</form>
	</body>
</html>