<!DOCTYPE HTML>
<html>
	<head>
		<title>School events editor(add event)</title>
	</head>
	<body>
		<form method="POST">
			<input required="true" placeholder="Дата" name="date" />
			<br>
			<input required="true" placeholder="Время" name="time" />
			<br>
			<input required="true" placeholder="Теги через запятые" name="class" />
			<br>
			<input required="false" placeholder="Краткое описание" name="short_description" />
			<br>
			<input required="true" placeholder="Описание" name="description" />
			<br>
			<input required="true" placeholder="Изображение" name="image" />
			<br>
			<button type="submit">Create</button>
		</form>
	</body>
</html>