<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
    <img id="symbol" src="GF.png">

    <form action="MainMenuP.html" method="get">

        <fieldset class="form_aut" id="autorize">

            <legend style="color:rgb(12,12,50);">Вход</legend>

            <label for="log1" class="LOG_IN_T">Логин<br>
                <input type="text" id="log1" class="LOG_IN_F" name="Логин" required>
            </label><br><br><br>

            <label for="pass1" class="LOG_IN_T">Пароль<br>
                <input type="password" id="pass1" class="PASS_F" name="Пароль" required>
            </label><br><br><br>

            <input class="autorize" type="submit" value="Войти">

            <br><br>
        </fieldset>

    </form>

</body>

</html>