{% extends "base.html" %}
{% block title %}
Авторизация
{% endblock %}
{% block content %}
<img id="symbol" src="GF.png">
<form class="login-manager__entry" action="" method="post">
    {{ form.csrf }}
    <fieldset class="form_aut" id="autorize">

        <legend style="color:rgb(12,12,50);">Вход</legend>

        <label for="log1" class="LOG_IN_T">{{ form.login.label }}<br>
            {{ form.login }}
        </label><br><br><br>

        <label for="pass1" class="LOG_IN_T">{{ form.password.label }}<br>
            {{ form.password }}
            <input type="password" id="pass1" class="PASS_F" name="Пароль" required>
        </label><br><br><br>

        <input class="autorize" type="submit" value="Войти">

        <br><br>
    </fieldset>


    <div class="input submit">
        <input type="submit" value="Submit" />
    </div>
</form>


{% endblock %}