<!DOCTYPE HTML>
<html>
	<head>
		<title>Achivments editor(delete achivments)</title>
	</head>
	<body>
		<form method="POST">
			<input required="true" placeholder="Дата" name="date" />
			<br>
			<input required="true" placeholder="Место" name="place" />
			<br>
			<input required="false" placeholder="Краткое описание" name="short_description" />
			<br>
			<input required="true" placeholder="Описание" name="description" />
			<br>
			<input required="true" placeholder="Изображение" name="image" />
			<br>
			<button type="submit">Delete</button>
		</form>
	</body>
</html>