<!DOCTYPE HTML>
<html>
	<head>
		<title>Achivments editor(add achivments)</title>
	</head>
	<body>
		<form method="POST" action="?" enctype="multipart/form-data">
			<input required="true" placeholder="Дата" name="date" type="text"/>
			<br>
			<input required="true" placeholder="Место" name="place" type="text"/>
			<br>
			<input required="false" placeholder="Краткое описание" name="short_description" type="text" />
			<br>
			<input required="true" placeholder="Описание" name="description" type="text"/>
			<br>
			<input type="file" name="image"/>
			<br>
			<input type="submit" value="Upload">
		</form>
	</body>
</html>