<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <!-- <link rel="stylesheet" href="/home/zhenya/CodeBlocksC++/Рабочий стол/CoffeeBee/SchoolToday/server/static/style.css" -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

</html>

<body link="lightgreen" vlink="lightpurple">
    <header>
        <h1 id="xt">Расписание</h1>
        <a href="Authorization.html">Выход </a>
        <a href="MainMenuP.html">Главное меню </a>
        <a href=" "> Новости </a>
    </header>
    <div class="m-x-auto" style="
position:absolute;
top:180px;
height:790px;
width:1900px;
position: absolute;
background: rgba(255,0,0,0.15)">
        <!-- <iframe style="
position:absolute;
left:15px;---
            width=" 1860" height="385">
        </iframe> -->

    </div>
</body>

</html>