{% extends "base.html" %}
{% block title %}
Расписание
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='script.js') }}">
</script>
{% endblock %}

{% block content %}
<header>
    <h1 id="xt">Расписание</h1>
    <a href="/login">Выход </a>
    <a href="/main">Главное меню </a>
    <a href=" "> Новости </a>
</header>
 <div id="nrop">
        <!-- <div id="kekmama"><img scr="h.png" alt="fhvrfj">Lorem ipsum dolor sit amet.</div> -->
        <div id="kekpapa">Lorem ipsum dolor sit amet consectetur.</div>
    </div>
</div>
{% endblock %}