<!DOCTYPE html>
<html lang="en">

<head>
    <!— Required meta tags —>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School Today</title>
    <!— Bootstrap CSS —>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>

    <div style=" background-color: #F96332;" class="row justify-content-center">
        <div style="padding-top: 10px;" class="row col-4">
            <div class="col-2">
                <p class="col-2" id="day">MON</p>
            </div>
            <div class="col-2">
                <p class="col-2" id="day">TUE</p>
            </div>
            <div class="col-2">
                <p class="col-2" id="day">WED</p>
            </div>
            <div class="col-2">
                <p class="col-2" id="day">THU</p>
            </div>
            <div class="col-2">
                <p class="col-2" id="day">FRI</p>
            </div>
            <div class="col-2">
                <p class="col-2" id="day">SUT</p>
            </div>
        </div>
    </div>
    <div id="schedule">

            </div>

        </div>
    </div>
</body>

</html>