body {
    height: 100vx;
    background: url(lol.jpg);
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0%;
    height: 3000px;
}

.pen {
    display: flex;
    justify-content: center;
    top: 50px;
    position: absolute;
}

.button_link_first {
    position: absolute;
    background: rgb(255, 215, 0);
    background: rgba(255, 215, 0, 1);
    height: 66px;
    width: 100px;
    border: 1px;
    left: 15px;
    top: 3px;
    box-shadow: 0px 3px;
}

.button_link_second {
    position: absolute;
    background: rgb(255, 215, 0);
    background: rgba(255, 215, 0, 1);
    height: 66px;
    width: 100px;
    border: 1px;
    left: 130px;
    top: 3px;
    box-shadow: 0px 3px;
}

.headmain {
    position: absolute;
    background-color: DarkOrange;
    width: 1520px;
    height: 75px;
    box-shadow: 0px 7px;
}

.frame_div {
    position: absolute;
    top: 100px;
    height: 615px;
    width: 1490px;
    padding: 15px;
    background: yellow
}

.frame_frame {
    position: absolute;
    left: 15px;
    top: 15px;
}

#symbol {
    position: absolute;
    left: 200px;
    top: 100px;
}

.form_aut {
    font-size: 35px;
    font-weight: 600;
    position: absolute;
    top: 100px;
    left: 925px;
    width: 300px;
    height: 400px;
    background-color: DarkOrange;
    box-shadow: 0px 7px;
    border: 1px;
    padding: 50px;
}

.LOG_IN_T {
    color: rgb(12, 12, 50);
    padding: 5px;
    width: 300px;
}

.LOG_IN_F {
    padding: 7px;
    width: 300px;
    border: 1px;
}

.PASS_F {
    padding: 7px;
    border: 1px;
    width: 300px;
}

.autorize {
    position: absolute;
    left: 150px;
    top: 375px;
    padding: 15px;
    width: 100px;
    height: 66px;
    background: rgb(255, 215, 0);
    background: rgba(255, 215, 0, 1);
    border: 1px;
    box-shadow: 0px 3px;
}

img {
    position: absolute;
    left: 0;
    top: 0;
}

#pi {
    background-color: aquamarine;
    position: absolute;
}

header {
    text-align: justify;
    position: fixed;
    letter-spacing: 1px;
    width: 100%;
    /* padding: 2em 10%; */
    background: rgba(12, 12, 50, 0.3);
    color: #fff;
}

a {
    margin: 50px;
    /* margin-left: 100px; */
}

#xt {
    margin-left: 150px;
}